<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/client/main}">

	<head>
		<title>TODOHT - Dashboard</title>
	</head>

	<body>
		<div class="container-fluid" layout:fragment="header">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-olive">
						Dashboard
						<button class="btn btn-olive" data-toggle="modal" data-target="#newProjectModal">
							<i class="fas fa-file"></i>
							New Project...
						</button>
					</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Home</li>
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
		<div layout:fragment="content">
			<div class="row">
				<div class="col-lg-12">
					<div class="card card-olive card-outline">
						<div class="card-body">
							<ul>
								<li th:each="project : ${projects}">
									<a th:href="@{/project/__${project.id}__}" th:text="${project.title}"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-md">
					<div class="modal-content">
						<div class="modal-body">
							<h5>Enter title:</h5>
							<form th:action="@{/project/newProject}" method="POST">
								<div class="input-group">
									<input class="form-control" name="title" type="text" value="New Project" required
										maxlength="150" minlength="3">
									<div class="input-group-append">
										<button class="btn btn-outline-olive">OK</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block layout:fragment="scripts">
			<script>
				let form = $("#newProjectModal form");
				form.on("submit", (e) => {
					e.preventDefault();
					let title = form.find("[name='title']").val();
					let url = form.attr("action");
					console.log(form);
					if (title) {
						$.ajax({
							url: url,
							type: "POST",
							data: { title: title.trim() },
							success: (result) => {
								if (result) {
									window.location.href = "./project/" + result;
								} else {
									console.log("error in controller");
								}
							},
							error: () => {
								// TODO throw error
								console.log("error");
							}
						})
					} else {
						console.log("error");
						// TODO throw error
					}

				});
			</script>
		</th:block>
	</body>

</html>