<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/client/main}">

    <head>
        <title>TODOHT - Dashboard</title>
        <th:block layout:fragment="styles">
            <!-- <link rel="stylesheet" th:href="@{/resources/plugins/jquery-ui/jquery-ui.min.css}"> -->
        </th:block>
        <style>
            .plist {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }

            .plist>li {
                margin: 0 5px 5px 5px;
                padding: 5px;
                height: auto;
                border: 1px darkgray solid;
                background-color: #e4f7edf8;
            }

            .ptask,
            .pitem {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }

            .ptask>li,
            .pitem>li {
                margin: 0 5px 5px 5px;
                padding: 5px;
                height: auto;
                border: 1px darkgray solid;
                background-color: #e4f7edf8;
            }

            .ptask>li:hover,
            .pitem>li:hover {
                cursor: pointer;
                background-color: #f2faf6f8;
            }

            .state-highlight {
                background-color: lightyellow !important;
                border: 1px black dashed !important;
                opacity: 0.4;
            }

            .handle-list,
            .handle-task,
            .handle-item {
                cursor: move;
            }

            .input {
                cursor: crosshair;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid" layout:fragment="header">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-olive">
                        <span name="projectName" class="input" th:text="${project.title}"
                            th:id="${'p' + project.id}"></span>
                        <button class="btn btn-olive" id="addList">Add new List</button>
                    </h1>

                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="dashboard">Home</a></li>
                        <li class="breadcrumb-item active" th:text="${project.title}"></li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <div layout:fragment="content">
            <div id="project" class="row plist" th:target-id="${project.id}">
                <div class="col-lg-3 list" th:each="list : ${lists}" th:list-id="${list.id}">
                    <div class="card card-olive card-outline">
                        <div class="card-header form-inline">
                            <i class="handle-list fas fa-bars mr-1"></i>
                            <span th:text="${list.title}" class="input" th:id="${'l' + list.id}"></span>
                            <i class="fas fa-check-circle text-success" th:style="${#lists.isEmpty(list.tasks.?[isDone!=true])? 'display:inline-block' : 'display:none'}"></i>
                    </div>
                    <div class="card-body py-1">
                        <ul class="ptask" th:target-id="${list.id}">
                            <li th:each="task : ${list.tasks}" class="task" th:task-id="${task.id}">
                                <div>
                                    <i class="handle-task fas fa-bars"></i>
                                    <span class="title" th:text="${task.title}" th:id="${'t' + task.id}"></span>
                                    <i class="fas fa-check-circle text-success" th:style="${task.isDone ? 'display:inline-block' : 'display:none'}"></i>
                                </div>

                                <div class="taskList">
                                    <ul>
                                        <li th:each="item : ${task.taskItems}">
                                            <span th:text="${item.title}" th:id="${'t' + item.id}"></span>
                                            <i class="fas fa-check-circle text-success" th:style="${item.isDone ? 'display:inline-block' : 'display:none'}"></i>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <div class="card-footer pt-1 pb-2">
                        <button class="btn btn-outline-olive btn-block" th:target-id="${'l' + list.id}"><i class="fas fa-plus-square"></i> Add new ...</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->

        <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> -->
                    <div class="modal-body">
                        <form>
                            <input type="hidden" name="id">
                            <h4>
                                <span class="input" name="title"></span>
                            </h4>
                            <!-- <input type="text" class="form-control" name="title"> -->
                            <hr>
                            <label for="detail">Detail</label>
                            <textarea class="form-control" name="detail" rows="3"></textarea>
                            <div class="form-inline">
                                <label class="mr-3">Status</label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="isDone" name="isDone">
                                    <label class="custom-control-label" for="isDone">Done</label>
                                </div>
                                <div class="ml-3">
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="typeItem" name="type" value="item">
                                        <label for="typeItem" class="custom-control-label">Item</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" id="typeList" name="type" value="list">
                                        <label for="typeList" class="custom-control-label">List</label>
                                    </div>
                                </div>
                            </div>
                            <ul class="pitem" id="list">

                            </ul>
                            <button class="btn btn-outline-olive" id="addNewModalTask"><i class="fas fa-plus-square"></i> Add new ...</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger mr-auto"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal = END -->

        <div class="col-lg-3" id="model" style="display: none;">
            <div class="card card-olive card-outline">
                <div class="card-header">
                    <i class="handle-list fas fa-bars"></i>
                    <span class="input">New List</span>
                </div>
                <div class="card-body py-1">
                    <ul class="ptask">

                    </ul>
                </div>
                <div class="card-footer pt-1 pb-2">
                    <button class="btn btn-outline-olive btn-block" target-id="0"><i class="fas fa-plus-square"></i> Add new ...</button>
                </div>
            </div>
        </div>

    </div>


    <th:block layout:fragment="scripts">
        <script th:src="@{/resources/js/jquery.jeditable.js}"></script>
        <!-- <script th:src="@{/resources/plugins/jquery-ui/jquery-ui.min.js}"></script> -->
        <script th:src="@{/resources/js/Sortable.js}"></script>

        <script>
            // TODO1: Parse list data from json
            // TODO2: make modal to edit tasks -> update detail, add item, show progress

            // ========== FUNCTION / CONFIG =========
            var listModel = $("#model");
            var newTask = (id, title) => {
                return "<li><i class='handle-task fas fa-bars'></i> <span id='t" + id + "'>" + title ? title : "New task" + "</span></li>";
            }
            var newItem = (id, title, isDone) => {
                return "<li><span id='" + id + "'>" + (title ? title : "New task") + "</span> " +
                    " <i class='fas fa-check-circle text-success' style='display:" + (isDone ? "inline-block" : "none") + "'></i>" + "</li>";
            }
            var newItemInTask = (id, title, isDone) => {
                return "<li class='item form-inline' item-id='" + id + "'><i class='handle-item fas fa-bars mr-1'></i> " +
                    " <div class='custom-control custom-switch'>" +
                    "<input type='checkbox' id='done" + id + "' class='custom-control-input' " + (isDone === true ? "checked" : "") + ">" +
                    "<label class='custom-control-label' for='done" + id + "'></label></div>" +
                    " <span class='input' id='t" + id + "'>" + (title != null ? title : "New Task") + "</span></li>";
            }

            var project = $("#project");

            function makeEditable(element, updateMain) {
                console.log("make Editable: " + $(element).attr("id") + "with updateMain=" + updateMain);
                $(element).editable("./save", {
                    type: "text",
                    submit: "<button class='btn btn-outline-olive'><i class='fas fa-check'></i></button>",
                    indicator: 'Saving…',
                    cssclass: "form-inline",
                    inputcssclass: "form-control",
                    tooltip: "Click to edit...",
                    callback: (result, settings, submitdata) => {
                        if (updateMain === true) {
                            console.log("update main task: " + $(element).attr("id"));
                            $("#project").find("#" + $(element).attr("id")).html(result);
                        }
                        // console.log(result);
                    },
                });
            }

            function makeSortable(element, type) {
                console.log("makeSortable : " + $(element).attr("id") + " as " + type);
                new Sortable(element, {
                    animation: 150,
                    ghostClass: "state-highlight",
                    handle: '.handle-' + type,
                    onEnd: (event) => {
                        if (event.oldIndex === event.newIndex) {
                            return;
                        }
                        // console.log(event);
                        // let sortData = {};
                        let sortText = getOrder(event.item.parentNode);
                        // console.log(sortData);
                        // console.log(sortText);
                        let targetId = "l";
                        if (type === "task") {
                            targetId = "t";
                        } else if (type === "item") {
                            targetId = "i";
                        }
                        targetId += $(event.item.parentNode).attr("target-id");
                        // console.log("target id: " + targetId);
                        saveOrder(targetId, sortText);
                    }
                });
            }

            function makeNewTaskButton(element) {
                let button = $(element);
                button.on("click", () => {
                    let id = button.attr("target-id");
                    $.ajax({
                        url: "newTask",
                        data: {
                            id: id
                        },
                        method: "POST",
                        success: (result) => {
                            if (result) {
                                button.parent().parent().find("ul.ptask").append(newTask(result));
                            } else {
                                console.log("null");
                            }
                        },
                        error: () => {
                            console.log("error");
                        }
                    })
                });
            }

            function makeTaskEditable(element) {
                let id = $(element).find(".title").attr("id");
                $(element).on("click", (event) => {
                    showEditTask(id);
                })
            }

            function showEditTask(id) {
                $.ajax({
                    url: "getTaskInfo",
                    type: "POST",
                    data: {
                        id: id
                    },
                    success: (result) => {
                        if (result) {
                            let modal = $("#taskModal");
                            modal.find("[name='id']").val(result.id);
                            let title = modal.find("[name='title']");
                            title.html(result.title);
                            title.attr("id", "t" + result.id);
                            makeEditable(title.get(), true);
                            modal.find("[name='detail']").html(result.detail);
                            modal.find("[name='type'][value='" + result.type + "']").click();
                            let checker = modal.find("[name='isDone']");
                            if (result.isDone) {
                                if (!checker.is(":checked")) checker.click();
                            } else {
                                if (checker.is(":checked")) checker.click();
                            }
                            modal.find("#list").html("");
                            modal.find("#list").attr("target-id", result.id);
                            if (result.taskItems && result.taskItems.length > 0) {
                                generateModalTaskList(result.taskItems, modal.find("#list"));
                                modal.find(".input").each((i, e) => {
                                    makeEditable(e, true);
                                });
                            }
                            modal.find("input[type='checkbox']").each((i, e) => {
                                if ($(e).attr("name") === "isDone") {
                                    makeTogglable(e, "t" + modal.find("[name='id']").val());
                                } else {
                                    makeTogglable(e, $(e).parent().next("span").attr("id"));
                                }
                            });
                            makeSortable(modal.find("#list")[0], "item");
                            modal.modal("show");
                            console.log(result);
                        } else {
                            console.log("error after ajax success");
                        }
                    },
                    error: () => {
                        console.log("error");
                    }
                })
            }

            function generateModalTaskList(list, destination) {
                if (list) {
                    list.forEach(item => {
                        destination.append(newItemInTask(item.id, item.title, item.isDone));
                    });
                }
            }

            function makeModalTaskListItem(id) {
                // TODO
            }

            function makeTogglable(element, id) {
                let toggle = $(element);
                toggle.on("click", () => {
                    let isDone = toggle.is(":checked");
                    console.log(id + ":" + isDone);
                    $.ajax({
                        url: "saveToggle",
                        type: "POST",
                        data: {
                            id: id,
                            isDone: isDone
                        },
                        success: (result) => {
                            if (result) {
                                if (isDone) {
                                    toggleCheck(id, true);
                                } else {
                                    toggleCheck(id, false);
                                }

                            } else {
                                console.log("error after ajax success");
                            }
                        },
                        error: () => {
                            console.log("error");
                        }
                    });
                })
            }

            function toggleCheck(id, status) {
                console.log("Toggle checker: " + id + " to " + status);
                let element = $("#project").find("#" + id);
                let checker = element.next("i");

                if (checker.length) {
                    console.log("found checker");
                    if (status) {
                        checker.css("display", "inline-block");
                    } else {
                        checker.css("display", "none");
                    }
                } else {
                    console.log("checker not found, create new");
                    let newChecker = "<i class='fas fa-check-circle text-success' style='display:" + status ? "inline-block" : "none" + "'></i>";
                    element.append(newChecker);
                }
            }

            function refreshAfterCloseModal(id) {
                clearList(id); // TODO
                renderList(id); // TODO
            }

            function deleteTask(id) {

            }

            function getOrder(element) {
                let sortText = "";
                let parent = $(element);
                if (parent.hasClass('plist')) {
                    parent.children(".list").each((i, e) => {
                        sortText += $(e).attr("list-id") + " ";
                    });
                } else if (parent.hasClass('ptask')) {
                    parent.children(".task").each((i, e) => {
                        sortText += $(e).attr("task-id") + " ";
                    });
                } else {
                    parent.children(".item").each((i, e) => {
                        sortText += $(e).attr("item-id") + " ";
                    });
                }
                sortText = sortText.trim();
                return sortText;
            }

            function saveOrder(id, sortText) {
                $.ajax({
                    url: "reorder",
                    type: "POST",
                    data: {
                        id: id,
                        order: sortText
                    },
                    success: (result) => {
                        if (result !== "success") {
                            console.log("save order error in controller");
                        } else {
                            console.log("save order " + result);
                            if (id.substring(0, 1) === "i") {
                                let task = $("[task-id='" + $("#list").attr("target-id") + "'");
                                let target = task.find("ul");
                                target.html("");
                                $('#list').find(".input").each((i, e) => {
                                    // console.log($(e).parent().find("input[type='checkbox']").is(":checked"));
                                    target.append(newItem($(e).attr("id"), $(e).html(), $(e).parent().find("input[type='checkbox']").is(":checked")));
                                });
                                console.log("reordered " + result + " at main list");
                            }
                        }
                    },
                    error: () => {
                        console.log("error");
                    }
                });
            }


            // ========== FUNCTION / CONFIG - END =========

            // ========== INITIALIZATION =============
            $("#project").find(".input").each((i, e) => {
                makeEditable(e);
            });
            makeEditable($("[name='projectName']").get());
            $(".plist").each((i, e) => {
                makeSortable(e, 'list');
            });
            $(".ptask").each((i, e) => {
                makeSortable(e, 'task');
            });
            $("button[target-id]").each((i, e) => {
                makeNewTaskButton(e);
            });
            $(".task").each((i, e) => {
                makeTaskEditable(e);
            });
            // ========== INITIALIZATION - END =============

            // ========== ADD NEW FUNCTION ===========
            $("#addList").on("click", () => {
                let newList = listModel.clone();
                newList.css("display", "block");
                newList.attr("id", null);
                newList.find("button[target-id]").each((i, e) => {
                    makeNewTaskButton(e);
                });
                newList.find(".ptask").each((i, e) => {
                    makeSortable(e, 'task');
                });
                newList.find(".input").each((i, e) => {
                    makeEditable(e);
                });
                newList.appendTo(project);
                // project.append(newList);
            });

            $("#addNewModalTask").on("click", () => {
                let parentId = $("#addNewModalTask").parent().find("[name='id']").val();
                $.ajax({
                    url: "newTask",
                    data: {
                        id: "t" + parentId
                    },
                    method: "POST",
                    success: (result) => {
                        console.log(result)
                        if (result) {
                            $("#list").append(newItemInTask(result.id, result.title, false));

                            let sortText = getOrder($("#list").get());
                            console.log(sortText);
                            saveOrder("i" + parentId, sortText);
                            let toggle = $("[item-id='" + result.id + "'] input[type='checkbox']");
                            makeTogglable(toggle.get(), "t" + result.id);
                            makeEditable(toggle.parent().next("span").get(), true);
                        } else {
                            console.log("error in controller");
                        }
                    },
                    error: () => {
                        console.log("error");
                    }
                })

            });

            $("form").submit((e) => {
                e.preventDefault();
            })

            $("#taskModal").on("hidden.bs.modal", () => {
                $("#taskModal").find("[name='isDone']").off("click");
                $("#taskModal").find("ul").html("");
            })
            // })
        </script>
    </th:block>
</body>

</html>