.btn-outline-olive {
    color: #3d9970;
    border-color: #3d9970;
  }
  
  .btn-outline-olive:hover {
    color: #ffffff;
    background-color: #3d9970;
    border-color: #3d9970;
  }
  
  .btn-outline-olive:focus, .btn-outline-olive.focus {
    box-shadow: 0 0 0 0 rgba(61, 153, 112, 1);
  }
  
  .btn-outline-olive.disabled, .btn-outline-olive:disabled {
    color: #3d9970;
    background-color: transparent;
  }
  
  .btn-outline-olive:not(:disabled):not(.disabled):active, .btn-outline-olive:not(:disabled):not(.disabled).active,
  .show > .btn-outline-olive.dropdown-toggle {
    color: #ffffff;
    background-color: #3d9970;
    border-color: #3d9970;
  }
  
  .btn-outline-olive:not(:disabled):not(.disabled):active:focus, .btn-outline-olive:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-olive.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(61, 153, 112, 1);
  }